{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
</head>
    
<body>
    <!---h1 style="color:rgb(231, 6, 6)">{{hell}}</h1--->
    
    
    <div>
        
        <form class="form" method="POST">
            <h3 align="center">USER DETAILS</h3>
            {% csrf_token %}
            <input type="email" name="email" placeholder="Enter email id" required><br><br>
            <input type="text" name="name" placeholder="Enter name" required><br><br>
            <input type="number" name="age" placeholder="Enter age" required><br><br>
            <input type="text" name="address" placeholder="Enter address" required><br><br>
            <button>Submit</button>
        </form>
    </div>
        <br>
        <div class="searchbox">
        <form align="center">
        <input type="text" name="search" placeholder="Search here">
        <button type="submit" class="s-box">Submit</button>
        </form>
        <br>
        <div align="center">
            <a href="{% url 'register' %}" class="reg-btn">Register</a>
        <br><br>
           <a href="{% url 'login' %}" class="reg-btn">Login</a>
        </div>
        
    </div>
    <br>
   
    <!--div>
        {% for i in hell %}
        <ul>
            <li>{{i.name}}</li> 
        </ul>Students.objects.get(id=3).delete()
        {% endfor %}
    </div-->
    <div>
    <div class="tablecontainer">
    <table>
    <tr>
        <th>Sl.No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Address</th>
        <th>ID</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
   {% for i in hell %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.age }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.address }}</td>
        <td>{{i.id}}</td>
        <td><a href="delete-record/{{i.id}}/" style="font-size: 20px;"class="btn-a">Delete</a></td>
        <td><a href="update-record/{{i.id}}/" style="font-size: 20px;"class="btn-b">Update</a></td>
    </tr>
    {% endfor %}
    </table>
    </div>

    <!--a href="askquestion/12/" style="font-size: 30px;">click</a-->
    </div>
    
</body>
</html>